
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Licorice&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #006600;
}

.background-section {
    background-image: url('../images/istockphoto-672556284-612x612.jpg');
    width: 612px;
    height: 408px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #fff;
    border-radius: 15px;
}

.background-section h1 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-align: center;
    color: goldenrod;
    font-size: 40px;
    margin-top: 15px;
    -webkit-text-stroke: 1px black;
}

.background-section p {
    color: #fff;
    margin-top: 25px;
    text-align: center;
    font-family: cursive;
    font-size: 20px;
}

#message-element {
    font-style: italic;
}

button {
    margin-top: 20px;
    padding: 10px 25px 10px 25px;
    border-radius: 10px;
    border: 1px solid #000;
    color: #fff;
    background-color: goldenrod;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}
